.containter-filter{
    @apply h-full flex flex-row justify-start border-b border-gray-200;
}
.filter{
    @apply bg-gray-100 w-64 absolute z-10 border-none border-r sm:border-b sm:border-gray-200;
}
.container-main-title-icon{
    @apply flex flex-row items-center gap-1 pl-5 py-2 w-64 h-10 sm:border-b sm:border-gray-200 bg-white text-stone-900;
}
.filter-title{
    @apply text-sm cursor-pointer text-gray-600 hover:text-stone-900 ease-in-out duration-500;
}
.container-filters-titles{
    @apply flex flex-col items-start hover:bg-white border-r border-gray-200;
}
.containter-icons-titles{
    @apply flex flex-row items-center gap-1 pl-5 py-2;
}
.filter-titles{
    @apply text-sm cursor-pointer font-semibold;
}
.icons-closed{
    @apply text-xs mt-0.5 text-gray-500 cursor-pointer;
}
.icons-open{
    @apply text-xs mt-0.5 text-gray-400 cursor-pointer;
}
.container-button-clean{
    @apply flex flex-row justify-center items-center gap-2 pb-3 pt-2 border-r border-gray-200;
}
.clean-filter{
    @apply text-xs font-semibold hover:text-gray-700 text-stone-900 hover:cursor-pointer duration-700;
}